templateData:
  site:
    title: 'CSS Minifier Plugin for DocPad'
plugins:
  cssmin:
    keepSpecialComments: 1
    debug: true

    # Enable on the development environment, since we're testing it.
    environments:
      development:
        enabled: true
